.send-record-modal {
    display: flex !important;
    flex-direction: column !important;

    > div:nth-child(2) {
        display: flex !important;
        flex-direction: column !important;
        color: var(--pgn-color-primary-500);
    }

    > div:nth-child(3) {
        overflow: hidden;
    }

    .checkbox-group {
        display: flex !important;
        flex-direction: column !important;

        > div {
            width: 100%;
        }
    }
}
