.program-record-wrapper {
    margin-top: calc(var(--pgn-spacing-spacer-base) * 2) !important;

    .back-to-records:hover {
        background: none;
    }

    .program-record-nav {
        display: flex !important;
        justify-content: space-between !important;
        margin-bottom: var(--pgn-spacing-spacer-base) !important;

        .program-record-actions {
            display: flex !important;
            gap: 0.5rem;
        }

        .download-record {
            display: flex !important;
            flex-direction: row-reverse !important;
        }
    }

    .program-record {

        .program-record-header {

            .program-headings {
                display: flex !important;
                justify-content: space-between !important;
                color: var(--pgn-color-primary-500);

                h4 {
                    color: inherit;
                }

                .program-title {
                    display: flex !important;
                    flex-direction: column !important;

                    .heading-label {
                        text-transform: capitalize;
                    }

                    h1 {
                        color: inherit;
                    }
                }
            }

            .program-status {
                display: flex !important;
                align-items: center !important;
                gap: 0.5rem;

                span.badge {
                    display: flex !important;
                }

                span.updated {
                    font-size: var(--pgn-typography-font-size-sm);
                    font-weight: var(--pgn-typography-font-weight-normal);
                }
            }

            .learner-info {
                display: flex !important;
                gap: 0.25rem;
            }
        }

        .program-record-grades {
            overflow: auto;
        }
    }

    .help {
        color: var(--pgn-color-primary-500);
    }
}
